<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>All Utilisateurs</h2>
      <table>
        <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of listUsers">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
